BasedOnStyle: Microsoft
Language: Cpp
Standard: Cpp11
AccessModifierOffset: -4
UseTab: Always
TabWidth: 4
IndentWidth: 4
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
BreakBeforeBraces: Attach
PointerBindsToType: true
AllowShortFunctionsOnASingleLine: Empty
AlignTrailingComments: true
